# Dependencies
node_modules/

# Build
dist/

# Environment & secrets
.env
.env.production
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# IDE / OS
.idea/
.vscode/
.DS_Store

# Test
coverage/

# Prisma
*.db
*.db-journal

# User uploads
uploads/
